.radial {
    margin: 20px;
    width: 200px;
    height: 200px;
    position: relative;
}

#body-container {
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 75px;
}

.emotion-text {
    text-align: center;
    margin-right: 18%;
}
.margin {
    margin-top:50px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

li {
    float: left;
}